* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Maison Neue;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 16px;
}

a,
ul,
li,
ol {
  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
}

.aling-items {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 22px;
}

.btn-primary {
  padding: 18px 20px;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 14px;
  display: inline-block;
}

header {
  background: white;
}

.img-title {
  font-size: 12px;
  color: #192647;
  font-weight: 200;
}

.menu li {
  padding: 16px 46px;
}

.menu li a {
  font-size: 14px;
  color: #192647;
  font-weight: 600;
  width: fit-content;
  transition: all 0.5s ease-in-out;
}

.menu li .hover-text {
  font-size: 14px;
  color: #192647;
  padding: 10px;
  border-radius: 10px;
  width: 50px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.menu li .hover-text:hover {
  color: #ffffff;
  background-color: #000000c6;
}

.menu li .btn-primary {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
  transition: all 0.4s ease-in-out;
}

.menu li .btn-primary:hover {
  background-color: #000;
  border: 1px solid transparent;
  color: white;
}

.toggle-menu {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.toggle-menu {
  display: none;
  margin: 10px;
}
/* Header end */

.banner {
  background: url(../images/section/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-content {
  height: 100vh;
  padding: 255px 0px 257px 0px;
}

.banner-title {
  font-size: 14px;
  color: #efefef;
  padding: 17px 0px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-title {
  color: #f8f8f8;
  font-weight: 200;
  max-width: 606px;
  margin: 30px 0px;
}

.banner-content .btn-primary {
  background-color: #000;
  color: white;
  transition: all 0.4s ease-in-out;
}

.banner-content .btn-primary:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #ebebeb;
}

.banner a {
  display: inline-block;
  margin: 10px 0px;
}
/* Banner end */

.slider {
  background-color: #192647;
  padding: 100px 0px;
}

.Open-Quote {
  padding: 20px;
  color: #efefef;
}

.Open-Quote svg {
  width: 46px;
  height: 46px;
}

.slider-title {
  text-align: center;
  color: white;
  padding: 0px 350px;
  width: 100%;
  line-height: 1.22;
  font-weight: 200;
}

.year {
  color: rgba(255, 255, 255, 0.313);
  padding: 40px;
}

.testimonial-item {
  text-align: center;
}

.silder-box {
  position: relative;
}

.silder-box .slick-prev {
  color: transparent;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.283);
  border: transparent;
  left: 50%;
}

.silder-box .slick-next {
  color: transparent;
  height: 2px;
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.283);
  border: transparent;
  left: 47%;
}
/* Slick silder end */

.mediation {
  padding: 100px 0px;
  background-color: white;
}

.mediation-tag {
  color: #7070707a;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0px;
}

.mediation-title {
  color: #192647;
  font-weight: 200;
  max-width: 920px;
  padding: 30px 0px;
}

.mediation-paragraph {
  color: #192647a8;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.5;
  max-width: 740px;
}

.mediation-btn {
  margin: 40px 0px;
}

.mediation .btn-primary {
  color: #192647;
  font-size: 20px;
  padding: 0;
}
/* Mediation end */

.process {
  padding: 100px 0px;
  background-color: #f8f8f8;
  position: relative;
}

.process-tag {
  color: #7070707a;
  font-size: 14px;
  font-weight: 600;
  padding: 20px 0px;
}

.process-title {
  color: #192647;
  font-weight: 200;
  max-width: 443px;
  padding: 110px 0px;
}

.process-content-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 250px;
}

.process-box-title {
  color: #192647;
  font-size: 22px;
  padding: 10px 0px 30px 0px;
  font-weight: 500;
}

.process-paragraph {
  font-size: 16px;
  color: #1926479b;
  line-height: 1.37;
  max-width: 540px;
  padding: 10px 0px;
}

.process-box {
  border: 1px solid #7070702e;
  border-left: 0;
  border-right: 0;
}

.process-imges {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.process-imges img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arow {
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* Process end */

.studies {
  padding: 100px 0px;
  background-color: white;
}

.studies-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 30px 0px;
}

.studies-tag {
  color: #192647;
  font-size: 14px;
  font-weight: 900;
  padding: 20px 0px;
}

.studies .btn-primary {
  color: black;
  border: 1px solid #ebebeb;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.studies .btn-primary:hover {
  color: white;
  background-color: black;
  border: 1px solid transparent;
}

.studies-sub-title {
  color: #0000007d;
  font-size: 16px;
  margin: 20px 10px;
}

.studies-title {
  color: #192647ea;
  max-width: 302px;
  font-weight: 350;
  margin: 20px 10px;
}

.right-arow {
  border: 1px solid rgba(0, 0, 0, 0.359);
  display: inline-flex;
  border-radius: 50px;
  padding: 13px;
  margin: 13px;
  cursor: pointer;
}

.card {
  border: 1px solid #efefef;
}
/* studies end */

.dispute {
  padding: 100px 0px;
  background-color: #eceded;
}

.dispute-title {
  color: #1c2645;
  max-width: 576px;
  line-height: 1.22;
  font-weight: 300;
  margin: 30px 0px;
}

.dispute .btn-primary {
  background-color: black;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.dispute .btn-primary:hover {
  background-color: white;
  color: #000000;
}
/* dispute end */

footer {
  padding: 70px 0px;
  background: url(../images/section/pvr.svg);
  background-repeat: no-repeat;
  background-color: #192647;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 70px;
  align-items: center;
}

footer .btn-primary {
  background-color: transparent;
  color: white;
  border: 1px solid #ebebeb;
}

.footer-menu li {
  padding: 30px 0px;
}

.footer-menu li a {
  color: white;
}

.footer-box-content-img {
  display: flex;
  gap: 80px;
  align-items: center;
}

.civil-img {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
}

.civil-img img {
  width: 90px;
}

.sub-title {
  color: white;
  font-size: 16px;
  padding: 30px 0px;
}

.footer-paragraph {
  color: rgba(255, 255, 255, 0.418);
  width: 100%;
  line-height: 1.6;
}
/* footer end */

.mediation .btn-mediaton {
  padding: 18px 20px;
  background-color: #000;
  color: white;
  font-size: 16px;
  margin: 25px 0px;
  transition: all 0.5s ease-in-out;
}

.mediation .btn-mediaton:hover {
  background-color: transparent;
  border: 1px solid #ebebeb;
  color: #000;
}
/* mediation- end */

.mediation-about {
  padding: 100px 0px;
  background-color: #192647;
  position: relative;
}

.mediation-content-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 92px;
  align-items: center;
}

.ma-subtitle {
  color: #ffffff76;
  font-size: 14px;
  padding: 60px 0px;
  display: inline-block;
}

.ma-title {
  color: white;
  font-weight: 100;
  padding: 30px 0px;
}

.ma-paragraph {
  color: #f8f8f88e;
  font-weight: 100;
  padding: 20px 0px;
  line-height: 1.6;
}

.mediation-about .btn-primary {
  padding: 40px 0px;
  color: #ffffff;
  font-size: 20px;
}

.mediation-imges {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.mediation-imges {
  width: 48%;
}

.mediation-imges img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* mediation-about */

.frequently {
  padding: 100px 0px;
  background-color: white;
}

.frequently-title {
  color: #192647;
  font-weight: 200;
  max-width: 100%;
  padding: 55px 0px;
}

.frequently-paragraph {
  font-size: 16px;
  color: #1926479b;
  line-height: 1.37;
  max-width: 100%;
  padding: 10px 0px;
}

.frequently-content {
  margin: 10px auto;
}
/* frequently end  */

.contact {
  padding: 100px 0px;
  background-color: #f8f8f8;
}

.conatct-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.contact-form {
  grid-column: 2/4;
  grid-column-start: 2;
  background-color: bisque;
}
